/**
  * NOTE: This is just a sample CSS file to represent styles that are customizable by external parties. Do not load this CSS file into an HTML file.
*/

/* The following styles will change how the "Back" buttons throughout the consent flow appear. These styles can be overridden specifically with the more specific classes below. You might consider changing the background color,
 * border radius, or font color
 */
.back-button {
  background-color: #ffffff;
  color: #06344f;
}

/* The following styles will change how the "Continue" buttons throughout the consent flow appear. These styles can be overridden specifically with the more specific classes below. You might consider changing the background color,
 * border radius, or font color
 */
.next-button {
  box-shadow: 1px 1px 1px 0px #bdbdbd;
}

/* The following styles will change how the "continue" button on the welcome page appears. You might consider changing the background color,
 * border radius, or font color
 */
.welcome-next-button {

}

/* The following styles will change how the buttons to continue
 * and move back on the summary pages (the pages that display the "summary" text from the template) appear. You might consider changing the background color,
 * border radius, or font color
 */
.summary-back-button {

}

.summary-next-button {

}

/* The following styles will change how the buttons to continue
 * and move back on the description pages (the pages that go into detail on
 * a given page) appear. You might consider changing the background color,
 * border radius, or font color
 */
.description-back-button {

}

.description-next-button {

}

/* The following styles will change how the buttons to continue
 * and move back on the option pages (the pages that present a user with a toggle) appear. You might consider changing the background color,
 * border radius, or font color
 */
.option-back-button {

}

.option-next-button {

}

/* The following styles will change how the buttons to continue
 * and move back on the review consent page (the page that presents a user with the full consent they will be signing) appear. You might consider changing the background color,
 * border radius, or font color
 */
.review-back-button {

}

.review-next-button {

}

/** The following style will change how the toggles appear
  * on the pages that present the user with an option to
  * accept or reject. For instance, you might want to change
  * the background color of the toggle when it is accepted or rejected.
*/
.slider {
  /* background-color: #ccc; */
}

/* Change the background color here to change the color
 * of the toggle when selected
 */
input:checked+.slider {
  /* background-color: #2789C2; */
}

/* Change the background color here to change the color
 * of the toggle when selected
 */
input:focus+.slider {
  /* box-shadow: 0 0 1px #2789C2; */
}

/**
  * The following styles change how the accept and reject
  * text accompanying the option toggle appears. You might
  * consider changing the font, font-size, or adding padding
 */
.option-text-reject {

}

.option-text-accept {

}